@charset "utf-8";
/* CSS Document   */
html {
  font-size: 13px;   
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus, select:focus, select:hover {
  outline: 0;
  text-decoration: none;
  box-shadow: 0px 0 8px 6px #77c6fc;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0;   
  text-align: center;
  text-transform: uppercase;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 10px;
  z-index: 100;
  color: #fff;
  background-color: orange;
  padding: 10px;
}
.skip-link:focus {
  top: 10px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  font-size: 1.2rem;      
  padding: 1em 0.5em;  
}
nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 16px 0; 
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;  
    text-align: center; 
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 1.2rem; 
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 65vh;  
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  text-align: center;
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.1rem;  
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;  
  height: 35px;
  letter-spacing: 0;
  margin: 9px; 
  padding: 0 10px;
  width: 142px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 15px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px auto;   
  padding: 0 15px 15px; 
  text-align: center; 
  width: 90%; 
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;  
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1rem; 
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40vh;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.7rem;   
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.2rem 0;    
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
  width: 100%;  
  border-radius: 30px 0; 
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;   
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 0 30px;
  width: 85%;  
  margin: 0 auto; 
  
}
#reviews-container {
  padding: 10px 10px;  
}
#reviews-container h2 {
  color: #f58500;
  font-size: 1.7rem; 
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 10px; 
  overflow: hidden;
  position: relative;
  border-radius: 30px 0; 
}
#reviews-list li p {
  margin: 0 0 10px;
  padding: 5px 20px;
}
#restaurant-hours td {
  color: #666;
}
#restaurant-hours {
  margin: 0 auto;
}

@media only screen and (min-width: 270px) {
  #reviews-list li p:nth-of-type(1) {
    float: left;
    width: calc(30% - 45px);
    color: #fff;
  }
  #reviews-list li p:nth-of-type(2) {
    float: right;
    text-align: right;
    color: #ccc;
    width: calc(70% - 45px);
  }
  #reviews-list li p:nth-of-type(1),
  #reviews-list li p:nth-of-type(2) {
    background-color: #252831; 
    padding: 15px 15px 15px 30px;
  }
  
  #reviews-list li p:nth-of-type(3) {
    clear: both;
    background-color: orange;
    color: #fff;
    text-transform: uppercase;
    width: 90px;
    padding: 5px;
    margin-left: 20px;
    text-align: center;
  }
 }

@media only screen and (min-width: 324px) {
  .filter-options {
    height: 50px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 14px;   
  }
  nav {
    height: 80px;
  }

  #map {
    height: 400px;
  }

  .filter-options select {
    width: 200px;  
  }

  #restaurants-list {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
  }
  #restaurants-list li {
    margin: 10px 5px;
    text-align: left; 
    width: 40% ;  
  }
}

@media only screen and (min-width: 758px) {
  html {
    font-size: 16px;   
  }
  nav h1 a {
    font-size: 14pt;
  }

  #breadcrumb {
      padding: 10px 40px 16px;
      font-size: 17px;
      width: calc(50% - 80px);
      text-align: left;
  }
  #breadcrumb li {
      font-size: 1rem;
  }

  .filter-options h2 {
    font-size: 1rem;  
  }
  .filter-options select {
    font-size: 11pt;
    margin: 10px;
  }
  
  #restaurants-list {
    padding: 30px 0 60px;
  }
  #restaurants-list li {
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    max-width: 270px;
  }
  #restaurants-list .restaurant-img {
    min-height: 248px;
  }
  #restaurants-list li h2 {
    font-size: 14pt; 
  }
  #restaurants-list p {
    font-size: 11pt;
  }
  #restaurants-list li a {
    font-size: 10pt;
  }
  
  .inside header {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
  }
  #restaurant-name {
    font-size: 20pt;
    margin: 15px 0 30px;
    text-align: left;
  }
  #restaurant-img {
    width: 90%;
    border-radius: 0;
  }
  #restaurant-address {
    text-align: left;
  }
  #restaurant-cuisine {
    width: 90%;
  }
  #restaurant-container, #reviews-container {
    padding: 140px 40px 30px;
    width: 50%;
    margin: 0;
  }
  #reviews-container {
    padding: 30px 40px 80px;
  }
  #reviews-container h2 {
    text-align: left;
    font-size: 24pt;
  }
  #reviews-list li p:nth-of-type(1),
  #reviews-list li p:nth-of-type(2),
  #reviews-list li p:nth-of-type(3) {
    float: none;
    clear: both;
    text-align: left;
    background-color: #fff; 
    color: #000;
    width: 100%;
    padding: 5px 5px;
    text-transform: none;
    margin: 0;
  }
  #reviews-list li {
    padding: 0 20px 20px;
    width: 85%;
    border-radius: 0;
    margin: 0 0 30px;
  }
  #reviews-list li p {
    margin: 0 0 10px;
    padding: 0 5px;
  }
  #restaurant-hours {
    width: 90%;
    margin: 0;
  } 
}

@media only screen and (min-width: 1200px) {
  html {
    background-color: #fbfbfb;
  } 
  body {
    width: 1200px;
    margin: 0 auto;
  }

  nav, #map, .filter-options, #restaurants-list, footer, header  {
    width: 1200px;
  }

  #breadcrumb {  
    width: 520px;
  }

  .inside #map-container {
    left: 50%;
    width: 600px;
  }
}